*{
    margin: 0;
    padding: 0;
}

.head{
    display: flex;
    justify-content: center;
}

form{
    margin: 1em;
    display: flex;
    flex-direction: column;
}

button, .btn-success{
    width: 5em;
    margin-top: 1em;
}

h2{
    text-align: center;
}


ul{
    margin: auto;
    width: 10em;
    padding: 0.2em;
}