<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Playground</title>
</head>
<body>
    <div>
        <h1>Welcome!</h1>
    </div>
    <div>
        {% for i in range(boxes) %}
        {% if colormsg %}
        <div class="box" style='background-color: {{colormsg}}'></div>
        {% else %}
        <div class="box"></div>
        {% endif %}
        {% endfor %}
    </div>
</body>
</html>