*{
    margin: 0;
    padding: 0;
}

.board{
    display: inline-block;
    border-right: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.box{
    background-color: #eeeed2;
    width: 50px;
    height: 50px;
}

.box2{
    background-color: #769656;
    width: 50px;
    height: 50px;
}
